<div class="grid-container">
    <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
        <!--Charts-->
        <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols" [rowspan]="( cardLayout | async )?.chart!.rows">
          <app-card title="All Issues">
            <app-pie></app-pie>
          </app-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols" [rowspan]="( cardLayout | async )?.chart!.rows">
          <app-card title="Open/Closed Issues">
            <app-issue-state-bar-chart></app-issue-state-bar-chart>
          </app-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols" [rowspan]="( cardLayout | async )?.chart!.rows">
          <app-card title="Open/Closed Issues by assignee">
            <app-issue-assignee-bar-chart></app-issue-assignee-bar-chart>
          </app-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols" [rowspan]="( cardLayout | async )?.chart!.rows">
          <app-card title="Created/Resolved Issues by month">
            <app-issue-per-assignee-at-period></app-issue-per-assignee-at-period>
          </app-card>
        </mat-grid-tile>
        
        <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols" [rowspan]="( cardLayout | async )?.chart!.rows">
          <app-card title="Created/Resolved Issues by month by assignee">
            <app-created-vs-resolved-issues-by-collab></app-created-vs-resolved-issues-by-collab>
          </app-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="( cardLayout | async )?.chart!.cols" [rowspan]="( cardLayout | async )?.chart!.rows">
          <app-card title="Backlog age">
            <app-backlog-age></app-backlog-age>
          </app-card>
        </mat-grid-tile>
        
      </mat-grid-list>
</div>